*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Shippori Antique B1", serif;

}
  header{
   margin-top: 47px;
   margin-left: 42px; 
  }
  .link-menu{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing:0.875;
    color: rgb(1, 1, 54);
    margin-right: 32px;
    cursor: pointer;
  }
  .button-sing-up{
    width: 124px;
    height: 50px;
    background-color: #03a624;
    border-radius: 6px;
    border: 0;
    font-size: 17px;
    color: white;
    cursor: pointer;
    line-height: 20px;
    letter-spacing: 1px;
  }
  button:hover{
    opacity: .8;
  }
  button:active{
    opacity: .6;
  }
  .img-1{
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
  }
  div{
    display: inline-block;
    width: 457px;
    position: absolute;
    margin: 304px 0 0 85px
  }
  .h1{
    font-weight: 800;
     font-size: 43px;
     color: rgb(1, 1, 21);
  }
  p{
    font-weight: 700;
    font-size: 19px;
    color: rgb(0, 5, 12);
    opacity: .6;
    margin-top: 45px;
  }
  .button-learn{
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    letter-spacing: 0.870px;
    color: #05b728;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 34px;
  }
    @media screen and (max-width: 400px) {
      header{
        margin-top: 0;
        margin-left: 0;
      }
      .button-learn{
        color: aqua;
      }
      img-1{
        margin-top: 20px;
        margin-left: 30px;
      }
    }